{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 style="color: white;">Edit Blog Post &#128204;</h2>
<form method="POST" enctype="multipart/form-data" class="mt-4">
    {% csrf_token %}
    <div class="form-group" style="color: white;">
      <label for="{{ form.title.id_for_label }}">Title:</label>
      {{ form.title }}
    </div>

    <div class="form-group" style="color: white;">
      <label for="{{ form.author.id_for_label }}">Author:</label>
      {{ form.author }}
    </div>

    <div class="form-group" style="color: white;">
      <label for="{{ form.content.id_for_label }}">Content:</label>
      {{ form.content }}
    </div>

    <div class="form-group" style="color: white;">
      <label for="{{ form.upload.id_for_label }}">Replace PDF/Text File (optional):</label>
      {{ form.upload }}
    </div>

    <div class="form-group" style="color: white;">
      <label for="{{ form.cover_image.id_for_label }}">Cover Image (optional):</label>
      {{ form.cover_image }}
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
